In [90]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
dataset =pd.read_csv('d:/netology/hw_25000.csv', names = ['index', "height_inch", 'weight_pound'], header=0)

In [18]:
dataset['height'] = dataset['height_inch'] * 2.54

In [19]:
dataset.head()

   index  height_inch  weight_pound      height
0      1     65.78331      112.9925  167.089607
1      2     71.51521      136.4873  181.648633
2      3     69.39874      153.0269  176.272800
3      4     68.21660      142.3354  173.270164
4      5     67.78781      144.2971  172.181037

In [50]:
mask = (dataset.height > 170)

In [70]:
datahigh = dataset.loc[mask]

In [75]:
mask2 = (datahigh.height < 180)

In [77]:
datafin = datahigh.loc[mask2]

In [82]:
datafin.reset_index(inplace = True)

In [102]:
datafin.head()

   level_0  index  height_inch  weight_pound      height
0        2      3     69.39874      153.0269  176.272800
1        3      4     68.21660      142.3354  173.270164
2        4      5     67.78781      144.2971  172.181037
3        5      6     68.69784      123.3024  174.492514
4        6      7     69.80204      141.4947  177.297182

In [86]:
sample2ind = np.random.randint(16140, size = 20)

In [87]:
sample2 = datafin.loc[sample2ind]

In [89]:
len(sample2) # no dublicates

20

In [100]:
samweight = np.mean(sample2['weight_pound'])
print(samweight)

126.61292500000002

In [101]:
mu = np.mean(dataset['weight_pound'])
print(mu)

127.07942116079916

In [98]:
stats.ttest_ind( sample2['weight_pound'], dataset['weight_pound'])

Ttest_indResult(statistic=-0.1788330579471486, pvalue=0.85807023530764659)

#### P-value теста равняется 0.85, следовательно мы не можем отвергнуть гипотезу о равенстве среднего значения веса в двух выборках ни на одном подходящем уровне значимости. Следовательно разница статистически незначима.